<p id="notice"><%= notice %></p>

Came from: <%= session[:previous] %>

<p>
  <b>Filename:</b>
  <%= @pic.filename %><br>
	<%= link_to image_tag("/import/#{@pic.filename}.jpg", :border => 0), :controller => 'pics', :action => 'browse', :id => @pic.id %>

</p>


<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
