<p id="notice"><%= notice %></p>

<p>
  <b>From pic:</b>
  <%= @link.pic_id %><br>
	<%= image_tag "/import/#{Pic.find(@link.pic_id).filename}.jpg", :border => 1%>
</p>

<p>
  <b>To pic:</b>
  <%= @link.to_pic %><br>
	<%= image_tag "/import/#{Pic.find(@link.to_pic).filename}.jpg", :border => 1%>
</p>

<p>
  <b>Weight:</b>
  <%= @link.weight %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
